<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boston Marathon Pace Predictor</title>
</head>
    <body>
        <h1>Boston Marathon Pace Predictor</h1>
        <ul>
            <li>Countless pace calculators exist to estimate what your average pace per mile should for a marathon.</li>
            <li>This calculator predicts what your splits should be based on how others have run the Boston Marathon.</li>
            <li>The primary timed splits are: 5K, 10K, 15K, 20K, Half Marathon, 25K, 30K, 35K, 40K, and Final.</li>
            <li>This predictor provides customized estimated splits for the final time you want to run.</li>
            <li>Login to access the pace predictor.</li>
        </ul>
        <form action="/login" method="GET">
            <input type="submit" value="Login" style="background-color:yellow; border-color:blue; color:black;
                                                height:40px; width:80px; font-weight:bold">
        </form>
    </body>
</html>